body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', Verdana, Tahoma, sans-serif;
    color: var(--color-darkBlue);
    background-color: var(--color-lightGrey);
    font-weight: 600;
}
