/* Colors :
#98DBC6 Aquamarine
#5BC8AC Turquoise
#F18D9E Pink Tulip
#E6D72A Canary Yellow
#070c5e Dark Blue
*/

/* Font-family
font-family: 'Athiti', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

@import url(reset.css);
@import url(body.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
