/* Import CSS */
@import url(reset.css);
@import url(body.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root {
    --color-lightGrey: #f3f2f1;
    --color-darkBlue: #070c5e;
    --color-aquamarine: #98dbc6;
    --color-turquoise: #5bc8ac;
    --color-pink: #f18d9e;
    --color-red: #ff0000;
}

/* Font-family
font-family: 'Athiti', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
